/*这是适配各个手机屏幕的表*/
@media screen and (width: 320px) {
    html {
      font-size: 320px/20;
    }
  }
  
  
  @media screen and (width: 360px) {
    html {
      font-size: 360px/20;
    }
  }
  
  
  
  @media screen and (width: 375px) {
    html {
      font-size: 375px/20;
    }
  }